<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/estilo.css">
    <title>Login</title>
</head>
<body>
    <form action="/users/login" method="POST">
        <h1>Realizar Login</h1>
        <input type="text" name="login" id="login" placeholder="Digite seu login: ">
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha: ">
        <button type="submit">Pronto</button>
    </form>
</body>
</html>