<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <form action="/produtos/cadastrar" method="POST">
        <h1>Cadastrar produto: </h1>
        <input type="text" name="produto" id="produto" placeholder="Nome do produto: ">
        <input type="text" name="id" id="id" placeholder="ID do produto: ">
        <input type="text" name="preco" id="preco" placeholder="Preço unitário: ">
        <input type="text" name="descricao" id="descricao" placeholder="Descrição do produto: "><br><br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>